<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Light Emission</title>
        <meta name="title" content="Light Emission">
        <meta name="description" content="Made for IGJ 2021">

        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" href="stylesheets/core.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/colors.css">
        <link rel="stylesheet" href="stylesheets/loading.css">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="loading">
            Loading...<br>
            This shouldn't take longer than a few seconds...
        </div>
        <div id="app">
            <header>
                <div>
                    Light: {{format(game.light)}}
                </div>
                <div v-if="game.unlocks.rainbowUpgrades">
                    Rainbow: {{format(game.rainbow, 2, 0)}}
                </div>
            </header>

            <main class="main">
                <div class="nav-bar">
                    <button v-for="(tab, i) in tabs" @click="switchTab(i)">
                        {{tab}}
                    </button>
                </div>

                <div class="tab-con">
                    <component v-for="tab in tabs"
                               v-show="currentTab == tab"
                               :is="toTabComponent(tab)"
                               :game="game"
                               :ref="tab"
                               :key="tab"></component>
                    <!-- <component :is="currentTabComponent" :game="game"></component> -->
                </div>
            </main>
         </div>

         <!-- Development !-->
         <script src="javascripts/libraries/vue.js"></script>

         <!-- Production !-->
         <!-- <script src="javascripts/libraries/vue.min.js"></script> -->
         <script src="javascripts/libraries/break_infinity.min.js"></script>

         <script src="javascripts/components/BaseMenuButton.js"></script>
         <script src="javascripts/components/TooltipButton.js"></script>

         <script src="javascripts/components/BaseModal.js"></script>
         <script src="javascripts/components/AlertModal.js"></script>
         <script src="javascripts/components/ConfirmationModal.js"></script>
         <script src="javascripts/components/PromptModal.js"></script>

         <script src="javascripts/components/OscillationTab.js"></script>
         <script src="javascripts/components/BaseProgressBar.js"></script>
         <script src="javascripts/components/OscillationTabUpgrade.js"></script>

         <script src="javascripts/components/AmplificationTab.js"></script>
         <script src="javascripts/components/AmplificationTabLens.js"></script>


         <script src="javascripts/components/DispersionTab.js"></script>
         <script src="javascripts/components/PrismSubtab.js"></script>
         <script src="javascripts/components/UpgradesSubtab.js"></script>
         <script src="javascripts/components/DispersionTabUpgrade.js"></script>

         <script src="javascripts/components/SettingsTab.js"></script>

         <script src="javascripts/database/wave.js"></script>
         <script src="javascripts/database/laser.js"></script>
         <script src="javascripts/database/prism.js"></script>

         <script src="javascripts/game.js"></script>
         <script src="javascripts/update.js"></script>
         <script src="javascripts/util.js"></script>
         <script src="javascripts/gameloop.js"></script>
         <script src="javascripts/index.js"></script>
    </body>
</html>

<!-- IDEA: Tier 2 lens:
1. Laser goes weeee (laser faster)
2. Laser goes duhhhhh (laser slower)-->

<!-- IDEA: Components: seperatae rainbow into components -->
<!-- IDEA: Red has base effect, green has ??? effect, blue boost them -->
<!-- IDEA: Activate prism animation (use setTimeout to delay prestige) -->

<!-- IDEA: Stalemate: freeze laser -->

<!-- IDEA: Interference (challenges): 3/4 type of Interference (modifiers), can choose to toggle/not toggle -->

<!-- IDEA: Interference can be named after colors -->

<!-- IDEA: Everytime u complete an unique combination, u gain Interference point/sth similar -->
<!-- IDEA: U can spend them / respec them in some sort of upgrade tree -->
<!-- IDEA: U can beat the game when u have gained all Interference point -->

<!-- IDEA: Two sections: destructive, constructive -->

<!-- IDEA: interference: laser is disabled -->

<!-- IDEA: upg idea: u can equip all 3 lenses-->

<!-- IDEA: Can also be about luminance / wavelength -->

<!-- IDEA: Hotkeys to navigate between tabs -->

<!-- IDEA: Reflection: more powerful upgs -->
<!-- IDEA: Refraction: Shape waveform -->

<!-- IDEA: Upg that makes sin abs (polarizer)-->

<!-- IDEA: Achievement? -->

<!-- TODO: Credits, hotkeys -->
<!-- TODO: Finalize name -->
