:root, .light-theme{
    --color: #4f5957;
    --primary: #ffffff;
    --secondary: #fafafa;
    --background: #f0f0f0;
    --warning: #b00020;
    --hover: #4f595726;
    --tooltip: #ffffff;
    --modal: #00000080;
    --disabled: #4f595750;

    --color-red: #ff1507;
    --color-green: #00ce00;
    --color-blue: #3B0eff;
    --color-yellow: #ffff00;
    --color-gold: #d9b111;

    --color-max: var(--color);
    --background-max: var(--color-yellow);

    --tooltip-background: #323232;
}

.dark-theme{
    --color: #d9d9d9;
    --primary: #323232;
    --secondary: #222222;
    --background: #121212;
    --warning: #cf6679;
    --hover: #d9d9d926;
    --tooltip: #d9d9d9;
    --disabled: #d9d9d950;

    --color-red: #ff200c;
    --color-green: #00fc00;
    --color-blue: #5013ff;
    --color-yellow: #f2f367;
    --color-gold: #ffff00;

    --color-max: var(--color-yellow);
    --background-max: var(--background);
}
