/* global stuff */

* {
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

body {
    color: var(--color);
    margin: 16px;
    font-size: 16px;
    background-color: var(--background);
}

body.is-active {
    overflow: hidden;
}

input, select, textarea, button {
    color: inherit;
}

button {
    background-color: var(--background);
    border: 2px solid var(--color);
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--hover);
    transition-duration: 0.3s;
}

button.is-active {
    background-color: var(--color);
    color: var(--background);
}

ul {
    margin: none;
}

table td {
    background-color: var(--background);
}

/* flexbox break */

.break {
  flex-basis: 100%;
  height: 0;
}

/* custom elements */

/* progress bar */

.bar-con {
    border: 2px solid var(--color);
}

.bar-ctx {
    height: 100%;
}

/* tooltip - Important! */

.tooltip-frame {
    position: relative;
}

.tooltip-btn {
    position: relative;
}

.tooltip-text {
	min-width: 10px;
	min-height: 5px;
	text-align: center;
	background-color: var(--tooltip-background);
	color: var(--tooltip);
	border-radius: 4px;
	padding: 8px;
	opacity: 0;
	display: inline-block;
	transition: opacity 0.5s, width 0.5s, height 0.5s, color 0.5s, background-color 0.5s, left 0.5s linear 0.5s;
	user-select: none;
    pointer-events: none; /* prevent clicking tooltip from triggering button */
	cursor: default;
	-webkit-tap-highlight-color: transparent; /* prevent selection on mobile */
	position: absolute;
	z-index: 10;
	top: -60px;
	left: -9999px;
}

.tooltip-text::after {
	content: " ";
	position: absolute;
	top: calc(100% - 8px);
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: var(--tooltip-background);
	transform: rotate(45deg);
}

.tooltip-text.is-active {
    left: calc(50% - 40px);
    transition: opacity 0.5s, width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
    opacity: 1;
}

/* modal boxes - IMPORTANT! */

.modal-outer {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--modal);

    display: flex;

    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 501;

    min-width: 40%;
    max-width: 75%;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--secondary);

	box-shadow: 5px 8px 8px 0px #00000060;

    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-close {
    width: 40px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: calc(100% - 40px);
    border: none;
    border-radius: 8px; /* match the modal */
    color: var(--warning);
}

.modal-prompt-header {
    font-size: 20px;
    padding: 8px;
    display: flex;
}

.modal-prompt-content {
    font-size: 16px;
    flex-grow: 1;

    min-width: 80%;

    padding: 16px 8px;
    margin: 0;
    list-style-type: none;
}

.modal-prompt-content li {
    display: flex;
    margin-top: 16px;
    padding: 0;
    align-content: flex-start;
    justify-content: space-between;
}

.modal-prompt-content input {
    font-size: inherit;
    padding: 0 4px;
    width: 100%;
    flex-grow: 1;
    border: 2px solid var(--color);
    background-color: var(--background);
}

.modal-prompt-footer {
    display: flex;
    justify-content: center;
}

.modal-prompt-footer button {
    padding: 8px;
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
}

.modal-confirm-header {
    font-size: 20px;
    padding: 8px;
}

.modal-confirm-content {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 16px;
}

.modal-confirm-footer {
    display: flex;
    justify-content: space-around;
}

.modal-confirm-btn {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px 16px;
    min-width: 80px;
}

.modal-alert-header {
    font-size: 20px;
    padding: 8px;
}

.modal-alert-content {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 16px;
}

.modal-alert-footer {
    display: flex;
    justify-content: space-around;
}

.modal-alert-btn {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px 16px;
    min-width: 80px;
}

.modal-win-header {
	font-size: 20px;
	padding: 8px;
	margin-bottom: 16px;
}

.modal-win-content {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 16px;
}

.modal-win-footer {
    display: flex;
    flex-direction: column;
}

.modal-win-footer span {
    font-size: 14px;
    flex-grow: 0;
    margin: 8px;
    min-width: 80px;
}

.modal-win-footer button {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px 16px;
    min-width: 80px;
}



/* actual layout */

#app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* header */

header {
    font-size: 20px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c-display {
    display: inline-block;
    width: 20px;
    text-align: center;
}

/* main content */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* naivgations */

.nav-bar {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
}

.nav-bar button {
    margin: 8px;
    min-width: 120px;
    min-height: 48px;
}

/* tabs */

.tab-con {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* oscillation tab */

.wave-display {
    border: 2px solid var(--color);
    margin-bottom: 16px;
}

.decel-con {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.decel-btn {
    margin: 8px;
    min-width: 224px;
    min-height: 60px;
    padding: 8px;
}

.buy-max-con {
    display: flex;
    flex-direction: row;
}

.buy-max, .autobuy-btn {
	width: 150px;
	height: 70px;
	margin: 8px;
}

/* laser tab */

.laser-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.laser-display {
    border: 2px solid var(--color);
    margin-bottom: 16px;
}

.toggle-laser-btn {
    margin: 20px;
    width: 200px;
    height: 80px;
}

.lenses-context {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lens-upg-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lens-upg {
    border: 2px solid;
    padding: 8px;
}

.equip-btn {
	margin-top: 8px;
	width: 208px;
	height: 30px;
    box-sizing: content-box;
}

/* prism */

.subtab-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.subtab-nav button {
    margin: 8px;
    min-width: 110px;
    min-height: 38px;
}

.subtab-con {
    width: 100%;
}

.prism-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
}

.prism-input, .prism-output {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 16px;
    font-size: 18px;
    width: 240px;
}

.prism-energy, .prism-activations, .prism-warning {
    margin: 8px;
}

.prism-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prism-warning li {
    margin: 8px 0;
}

.prism-btn { /* same as decel */
	margin: 8px;
	min-width: 224px;
	min-height: 60px;
	padding: 8px;
}

.mask {
    opacity: 0;
    position: fixed;
    top: 0;
    left: -9999px;
    background-color: var(--background);
    z-index: 99999;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s, left 0s 1.5s;
}

.mask.is-active {
    opacity: 1;
    left: 0;
    transition: opacity 1.5s, left 0s 0.1s;
}

/* interference */

.node-count {
    font-size: 18px;
    margin-bottom: 16px;
}

.respec-btn {
    margin-bottom: 16px;
    width: 200px;
    height: 70px;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-btn-con {
    display: flex;
    flex-direction:column;
    align-items: center
}

.challenge-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.challenge-config {
    margin: 16px;
}

.challenge table {
    border-collapse: collapse;
    margin: 8px;
}

.challenge td {
    padding: 16px;
    border: 2px solid var(--color);
    text-align: center;
    min-width: 60px;
    min-height: 60px;
}

.challenge .config-btn {
    width: 50px;
    height: 50px;
}

.challenge .transverse-btn-con {
    display: flex;
    flex-direction: row;
}

.challenge .transverse-btn-con button {
    margin: 8px;
    padding: 16px;
    flex-grow: 1;
}

.challenge-warn {
    margin: 16px;
}

.challenge-warn-header {
    text-align: center;
}

.challenge-meta {
    margin: 16px;
    padding: 8px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stats table {
    border-collapse: collapse;
    margin: 16px;
}

.stats td {
    padding: 16px;
    border: 2px solid var(--color);
    text-align: center;
}

/* achievements */
.move-ach {
	margin: 16px;
	padding: 16px;
	font-size: 12px;
}

.ach-con {
    width: 70%;
    background-color: var(--background);
    border: 2px solid var(--color);
    height: 116px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.ach-img-con {
    position: relative;
    margin: 8px;
    width: 100px;
    height: 100px;
}

.ach-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-achievement) 
}

.ach-img {
    width: 100%;
    height: 100%;
}

.ach-text {
    font-size: 12px;
    padding: 8px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.ach-name {
    font-size: 16px;
}

/* settings */

.settings-btn-con{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.settings-btn-con>button{
    align-self: flex-start;
    width: 192px;
    min-height: 96px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.hotkeys {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extra {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 16px 0;
}

/* background */

.bg {
    position: fixed;
    left: -16px;
	width: calc(100vw);
	height: calc(100vh - 32px);
	z-index: -1;
}

/* presets */

.mini-header {
    font-size: 24px;
    margin: 16px;
}

.warning {
    border-color: var(--warning);
    color: var(--warning);
    text-transform: uppercase;
}

.upg-con {
    margin-top: 16px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.upg div {
    width: 100%;
}

.upg div:not(.upg-name){
    font-size: 12px;
}

.upg {
    width: 208px;
    margin: 8px;
    min-height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--background);
}

.auto-btn {
    min-width: 120px;
    min-height: 60px;
    margin: 8px;
}

.auto-field {
    background-color: inherit;
    border-width: 0 0 2px 0;
    border-color: var(--color);
    outline: none;
    transition: none;
}

.auto-desc {
    margin: 8px;
}

button.locked {
    border-color: var(--color-red);
    cursor: default;
}

button.locked:hover {
    background-color: inherit;
}

button.canBuy {
    border-color: var(--color-green);
}

button.max {
    border-color: var(--color-max);
    background-color: var(--background-max);
    cursor: default;
}

button.on {
    border-color: var(--color-green);
}

button.off {
    border-color: var(--color-red);
}

.red {
    color: var(--color-red);
    border-color: var(--color-red);
}

.red.is-active {
    color:var(--background);
    border-color: var(--color-red);
    background-color: var(--color-red);
}

.green {
    color: var(--color-green);
    border-color: var(--color-green);
}

.green.is-active {
    color: var(--background);
    border-color: var(--color-green);
    background-color:var(--color-green);
}

.blue {
    color: var(--color-blue);
    border-color: var(--color-blue);
}

.blue.is-active {
    color: var(--background);
    border-color: var(--color-blue);
    background-color: var(--color-blue);
}

.yellow {
    color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.yellow.is-active {
    color: var(--background);
    border-color: var(--color-yellow);
    background-color: var(--color-yellow);
}

.gold {
    color: var(--color-gold);
    border-color: var(--color-gold);
}

.disabled {
    color: var(--disabled);
    border-color: var(--disabled);
    cursor: default;
}

.disabled:hover {
    background-color: inherit;
}

.invisible {
    visibility: hidden;
}

.no-scroll {
    overflow-y: hidden;
}

/* override */

.prism-upg-con {
    width: 700px; /* show 3 upgrades per row */
    justify-content: center;
}
