/* global stuff */

* {
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

body{
    color: var(--color);
    margin: 16px;
    font-size: 16px;
    background-color: var(--background);
}

body.is-active {
    overflow: hidden;
}

input, select, textarea, button {
    color: inherit;
}

button {
    background-color: transparent;
    border: 2px solid var(--color);
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--hover);
    transition-duration: 0.3s;
}

button.is-active {
    background-color: var(--color);
    color: var(--background);
}

/* custom elements */

/* progress bar */

.bar-con {
    border: 2px solid var(--color);
}

.bar-ctx {
    height: 100%;
}

/* tooltip - Important! */

.tooltip-frame {
    position: relative;
}

.tooltip-btn {
    position: relative;
}

.tooltip-text {
	min-width: 10px;
	min-height: 5px;
	text-align: center;
	background-color: var(--tooltip-background);
	color: var(--tooltip);
	border-radius: 4px;
	padding: 8px;
	opacity: 0;
	display: inline-block;
	transition: opacity 0.5s, width 0.5s, height 0.5s, color 0.5s, background-color 0.5s, left 0.5s linear 0.5s;
	user-select: none;
    pointer-events: none; /* prevent clicking tooltip from triggering button */
	cursor: default;
	-webkit-tap-highlight-color: transparent; /* prevent selection on mobile */
	position: absolute;
	z-index: 10;
	top: -60px;
	left: -9999px;
}

.tooltip-text::after {
	content: " ";
	position: absolute;
	top: calc(100% - 8px);
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: var(--tooltip-background);
	transform: rotate(45deg);
}

.tooltip-text.is-active {
    left: calc(50% - 40px);
    transition: opacity 0.5s, width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
    opacity: 1;
}

/* modal boxes - IMPORTANT! */

.modal-outer {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--modal);

    display: flex;

    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 501;

    min-width: 40%;
    max-width: 75%;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--secondary);

	box-shadow: 5px 8px 8px 0px #00000060;

    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-close {
    width: 40px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: calc(100% - 40px);
    border: none;
    border-radius: 8px; /* match the modal */
    color: var(--warning);
}

.modal-prompt-header {
    font-size: 20px;
    padding: 8px;
    display: flex;
}

.modal-prompt-content {
    font-size: 16px;
    flex-grow: 1;

    min-width: 80%;

    padding: 16px 8px;
    margin: 0;
    list-style-type: none;
}

.modal-prompt-content li {
    display: flex;
    margin-top: 16px;
    padding: 0;
    align-content: flex-start;
    justify-content: space-between;
}

.modal-prompt-content input {
    font-size: inherit;
    padding: 0 4px;
    width: 100%;
    flex-grow: 1;
    border: 2px solid var(--color);
    background-color: var(--background);
}

.modal-prompt-footer {
    display: flex;
    justify-content: center;
}

.modal-prompt-footer button {
    padding: 8px;
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
}

.modal-confirm-header {
    font-size: 20px;
    padding: 8px;
}

.modal-confirm-content {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 16px;
}

.modal-confirm-footer {
    display: flex;
    justify-content: space-around;
}

.modal-confirm-btn {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px 16px;
    min-width: 80px;
}

.modal-alert-header {
    font-size: 20px;
    padding: 8px;
}

.modal-alert-content {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 16px;
}

.modal-alert-footer {
    display: flex;
    justify-content: space-around;
}

.modal-alert-btn {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px 16px;
    min-width: 80px;
}


/* actual layout */

#app {
    display: flex;
    flex-direction: column;
}

/* header */

header {
    font-size: 20px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* main content */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* naivgations */

.nav-bar {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
}

.nav-bar button {
    margin-right: 16px;
    min-width: 120px;
    min-height: 48px;
}

/* tabs */

.tab-con {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* oscillation tab */

.wave-display {
    border: 2px solid var(--color);
    margin-bottom: 16px;
}

.decel-con {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.decel-btn {
    margin: 8px;
    min-width: 224px;
    min-height: 60px;
    padding: 8px;
}

.auto-decel-btn {
    min-width: 120px;
    min-height: 60px;
    margin-right: 16px;
}

.auto-decel-field {
    background-color: inherit;
    border-width: 0 0 2px 0;
    border-color: var(--color);
    outline: none;
    transition: none;
}

/* laser tab */

.laser-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.laser-display {
    border: 2px solid var(--color);
    margin-bottom: 16px;
}

.toggle-laser-btn {
    margin: 20px;
    width: 200px;
    height: 80px;
}

.lenses-context {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lens-upg {
    border: 2px solid;
}

.equip-btn {
    margin: 8px;
    width: 208px;
    height: 30px;
}

/* settings */

.settings-tab{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.settings-tab>button{
    align-self: flex-start;
    width: 192px;
    min-height: 96px;
    margin-right: 16px;
    margin-bottom: 16px;
}

/* presets */
.mini-header {
    font-size: 24px;
    margin: 16px;
}

.warning {
    border-color: var(--warning);
    color: var(--warning);
    text-transform: uppercase;
}

.upg-con {
    margin-top: 16px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upg div:not(.upg-name){
    font-size: 12px;
}

.upg {
    width: 208px;
    margin: 8px;
    min-height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

button.locked {
    border-color: var(--color-red);
    cursor: default;
}

button.locked:hover {
    background-color: inherit;
}

button.canBuy {
    border-color: var(--color-green);
}

button.max {
    border-color: var(--color-max);
    background-color: var(--background-max);
    cursor: default;
}

button.on {
    border-color: var(--color-green);
}

button.off {
    border-color: var(--color-red);
}

.red {
    color: var(--color-red);
    border-color: var(--color-red);
}

.red.is-active {
    color:var(--background);
    border-color: var(--color-red);
    background-color: var(--color-red);
}

.green {
    color: var(--color-green);
    border-color: var(--color-green);
}

.green.is-active {
    color: var(--background);
    border-color: var(--color-green);
    background-color:var(--color-green);
}

.blue {
    color: var(--color-blue);
    border-color: var(--color-blue);
}

.blue.is-active {
    color: var(--background);
    border-color: var(--color-blue);
    background-color: var(--color-blue);
}

.disabled {
    color: var(--disabled);
    border-color: var(--disabled);
    cursor: default;
}

.disabled:hover {
    background-color: inherit;
}
